/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	/*background-color: LightGray;*/
	font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

/*div {
	border: 1px solid Chocolate;
}
*/

 /* Start of Custom Styles */
.content {
	padding: 0 15px;
	width: 970px;
	height: 70px;
	margin: 0 auto;
}



/* Navigation Section */


.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 9999;
 }

.top-navigation > .content {
	height: 70px;
}

.top-navigation .logo {
	height: 70px;
}

.top-navigation .links {
	float: right;
	font-family: "Roboto" , sans-serif;
	color: #838994;
	font-size: 16px;
	margin-top: 25px;
	-webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
}

.top-naviagtion .links .active{
	color: #4c5058;
	font-weight: 500;
}
.top-navigation .links a:hover {
	cursor: pointer;
	color: #333333;
}
.top-navigation .links a {
	text-decoration: none;
	color: #838994;
}

.introduction {
	background-image: url('../images/first-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 45.938rem;
	background-position: center bottom;
	overflow: auto;
	/*border: 1px solid orange;  style added by me
	margin: 10px;	/* style added by me*/
	/*text-align: center;  style added by me*/
}

.introduction h1,
.introduction h3 {
	color: white;
	text-align: center;
	font-weight: 300;
}

.introduction h1 {
	margin-top: 17.5rem;
	font-size: 3.125rem;
}
.introduction h3 {
	margin-top: 1.25rem;
	font-size: 1.563rem;
}


.big-button {
	width: 9.688rem;
	background-color:#f15a29;
	border-color: #f15a29;
	text-shadow: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	color: white;
	font-size: 1.25rem;
	border-style: none;
	text-shadow: none;
	display: block;
	margin:1.23rem auto 0;
}
.cases .content {
	text-align: center;
}

.cases h2 {
	font-size: 2.75rem;
	margin: 1.625rem 0 3.125rem;
	font-weight: 300;
}

.devices li {
	display: inline-block;
	float: left;
	width: 33.3333333%;
}
.cases. .devices {
	margin-top:;
}
.cases .devices h3 {
	font-weight: 400;
	font-size: 1.563rem;
	margin: 2.5rem 0px 1.875rem;
}
.social {
	background-color: #fff;
	text-align: center;	
	overflow: auto;
	padding-bottom: 9.375rem;
}

.social .icons > li {
	border-radius: 1.25rem;
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	margin: 1.25rem 5px;
	border: 1px solid #eaebec;
	
}
.social .icons i {
	margin: 10px 10px;
}
.icons .twitter {
	color: #55acee;
}
.icons .instagram {
	color: #3f729b;
}

.icons .facebook {
	color: #4c66a4;
}
.social .copy {
	font-size: 0.9rem;
	font-weight: 300;
	color: #838994;
}







